{% load i18n%}
<div class='col-2'>
  <!-- 通过删除 .navbar-expand-xl|lg|md|sm 类来创建垂直导航栏: -->
  <nav class="nav navbar-light">

    <ul class="navbar-nav mr-auto ">
      <li class="nav-item">
        <a class="nav-link" name='profile' href="{% url 'users:user' user.username%}#profile">{% trans "Profile" %}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">{% trans "Collection" %}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" name='follower' href="{% url 'users:follower' user.username%}#follower" >{% trans "Follower" %}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" name='followed' href="{% url 'users:followed' user.username%}#followed">{% trans "Following" %}</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="#">{% trans "Blog" %}</a>
      </li>
    </ul>
  </nav>
</div>
