{% extends 'base.html' %}
{% load i18n static bootstrap4 %}
{% block title %}{% trans 'Following' %}{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    {% include '_user_nav.html'%}
    <div class="col-sm-10">
      <div>
        <h2>{% trans "My Followed" %}</h2>
        <hr>
      </div>
      <ul class="list-group">
        {% for follow in followed_list %}
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-1">
                <a href="{% url 'users:user' follow.followed.username %}">
                  <img src="{{follow.followed.avatar.url}}" alt="{% trans 'Avatar'%}" width="50" height="50"  class='rounded'>
                </a>

              </div>
              <div class="col-sm">
                <span class="follow-name">{{ follow.followed.username}}</span>
              </div>  
            </div>
          </li>
        {% empty %}
          <p>{% trans "No followers yet" %}</p>
        {% endfor%}
      </ul>
    </div>
  </div>
</div>


{% bootstrap_pagination page_obj url='?page=1' size="middle" justify_content="center"%}


  


{% endblock %}