{% extends 'base.html' %}
{% load i18n static bootstrap4 %}
{% block title%}{% trans 'Password change' %} {% endblock%}
<!-- {% block header%} 
{% if user.is_authenticated%}
<p>{{ user.username}}</p>
{% endif%}
{%endblock%} -->
{% block content%}
<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form action="{% url 'users:password_change'%}" method="post">
    {% csrf_token%}
    {% bootstrap_form form%}
    <input type="submit" value="{% trans 'Change my password' %}" class="btn btn-outline-Dange"></input>
    <!-- <input type="hidden" value="url 'users:login "> -->
</form>

{% endblock%}