{% extends 'base.html' %}
{% load i18n static bootstrap4 %}
{% block title %}{{ target_user.username}}{%endblock%}
{% block content%}
<div>
  <div style='position: absolute'>
    <div>
      <a href="{% url 'users:profile' user.pk%}"  data-toggle="tooltip" data-placement="top"  title="{% trans 'Change Profile' %}">
      <img src="{{ target_user.avatar.url }}" alt="{% trans "avatar" %}" width="256" height="256"></a>
    </div>
    <div>
      <h2>{{ target_user.username }}</h2>
    </div>
    <div>
      {% if user.is_authenticated%}
        {% if target_user == user %}
          <a href="{% url 'users:profile' user.pk%}" class="btn btn-outline-primary btn-block ">{% trans "Edit profile" %}</a>    
        {% else%}
          <a href="#" class="btn btn-outline-primary btn-block ">{% trans "Follow" %}</a>    
        {% endif%} 
      {% endif%}
    </div>
  </div>
  <div style="margin-left: 280px;">
    <p>{% trans "EMail"%}: <a href="mailto:{{ target_user.email }}?subject=Hello">{{ target_user.email }}</a></p>
    <ul>
      <li>{% trans "About me "%}: {{ target_user.profile.about_me }} </li>
      <li>{% trans "Last login "%}：{{ target_user.last_login }}</li>
    </ul>
  </div>
</div>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>
{% endblock %}