{% extends 'base.html' %}
{% load i18n static bootstrap4 %}
{% block title %}{{ target_user.username}}{%endblock%}
{% block content%}
<div class="container-fluid">
  <div class="row">
    {% if target_user == user%}
      {% include '_user_nav.html'%}
    {% endif %}
    <div class="col-sm-10">
      <div>
        <h2>{% trans "Profile" %}</h2>
        <hr>
      </div>
      <div>
        <div style='position: absolute'>
            <a href="{% url 'users:profile' user.pk%}"  data-toggle="tooltip" data-placement="top"  title="{% trans 'Change Profile' %}">
            <img src="{{ target_user.avatar.url }}" alt="{% trans "avatar" %}" width="256" height="256" class="rounded"></a>
            <h2>{{ target_user.username }}</h2>
            {% if user.is_authenticated%}
              {% if target_user == user %}
                <a href="{% url 'users:profile' user.pk%}" class="btn btn-outline-primary btn-block ">{% trans "Edit profile" %}</a>    
              {% else%}
                {% if follow_flag %}
                  <a href="#" class="btn btn-outline-primary btn-block">{% trans "Follow" %}</a> 
                {% else %}
                  <a href="#" class="btn btn-outline-primary btn-block">{% trans "Unfollow" %}</a> 
                {% endif %}
              {% endif%} 
            {% endif%}
        </div>
        <div style="margin-left: 280px;">
          <div>
            <a href="{% url 'users:followed'%}" class="mx-3">{% trans 'Following'%}: <span class="badge badge-dark">{{followed}}</span></a>
            <a href="{% url 'users:follower'%}" class="mx-3">{% trans 'Follower'%}: <span class="badge badge-info">{{follower}}</span></a>
            <a href="#" class="mx-3">{% trans 'Blog'%}: <span class="badge badge-success">2</span></a>
            {% if user.is_authenticated%}
              {% if followed_flag%}
                | <span class='badge badge-primary'>{% trans 'Follows you'%}</span>
              {% endif %}
            {% endif %}
            <hr>
          </div>
          <div>
            <p>{% trans 'Name'%}: {{target_user.name}}</p>
            <p>{% trans "EMail"%}: <a href="mailto:{{ target_user.email }}?subject=Hello">{{ target_user.email }}</a></p>
            <p>{% trans 'Profession'%}: {{target_user.profession}}</p>
            <p>{% trans 'Location'%}: {{target_user.location}}</p>
            <p>{% trans "Last login "%}：{{ target_user.last_login }}</p>
            <p>{% trans "Bio "%}: {{ target_user.profile.about_me }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script> -->
{% endblock %}