{% load bootstrap4 static i18n %}
<!DOCTYPE html>
<html>
  <head>

    <link rel="shortcut icon" href="{% static 'img/dj.ico' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <title>{% block title %}My amazing site{% endblock %}</title>
<!--     <link rel="stylesheet" href="/static/css/bootstrap.css">
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/vue.min.js"></script> -->
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <script src="/static/js/alert.js"></script>
</head>

<body>
    <!--navbar 导航栏-->
  <nav class="navbar navbar-expand-md sticky-top navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="form-inline my-2 my-lg-0" action="{% url 'blog:search'%}" method="get" >
        {% csrf_token %}
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query" required>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">{% trans "Search" %}</button>
      </form>
      <ul class="navbar-nav myr-auto">
        <li class="nav-item active">
          <a class="nav-link active my-auto" href="{% url 'blog:index'%}"><i class="fas fa-home"> {% trans "Home" %}</i> <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" href="{% url 'blog:blog-add' %}" target='_blank'>{% trans "New Blog" %}</a>
        </li>
        {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link " href="#" id='navbardrop' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
              <img src="{{ user.avatar.url }} " width="35" height="35" class="rounded dropdown-toggle" />
            </a>
            <div class="dropdown-menu">
              <h4 class="dropdown-item">{{ user.username }}</h4>
              <div class="dropdown-divider" ></div>
              <a class= "dropdown-item" href="{% url 'blog:blog-list' user.username%}">{% trans 'My Blogs' %}</a>
              <a class="dropdown-item" href="{% url 'blog:collection' %}">{% trans 'My Collection' %}</a>
              <div class="dropdown-divider" ></div>
              <a class="dropdown-item" href="{% url 'users:user' user.username %}">{% trans "My Profile" %}</a>
              <a href="{% url 'users:password_change'%}" class="dropdown-item">{% trans "Update password"%}</a>
              <a href="{% url 'users:password_reset' %}" class="dropdown-item">{% trans "Password reset"%}</a>
              <div class="dropdown-divider"></div>
              <a href="{% url 'users:logout' %}" class="dropdown-item">{% trans "Sign out"%}</a>
            </div>
          </li>
        {% else %}
          <li class='nav-item'>
            <a href="{% url 'users:login'%}" class="nav-link active">{% trans "Sign in"%}</a>
          </li>
          <li class='nav-item'>
            <a href="{% url 'users:register'%}" class="btn btn-outline-primary">{% trans "Sign up"%}</a>
          </li>
        {% endif %}
      </ul>

    </div>
  </nav>
  {% bootstrap_messages %}
    <!-- django message -->
<!--   {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
            {{ message }}
        </li>
        {% endfor %}
    </ul>
  {% endif %} -->
<!--   {% if messages %}
    {% for message in messages %} -->
      <!-- 原生 Bootstrap  -->
<!--       <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> -->
      <!-- django-bootstrap -->
<!--       <div>
        {% bootstrap_alert message alert_type=message.tags %}
      </div>
    {% endfor %}
  {% endif %}
 -->
    <div class="container">
      <div class="page-header">
        {% block header %}{% endblock %}
      </div>
      <div>
        {% block content %}{% endblock %}
      </div>
    </div><!--endof container-->
</body>

</html>