{% extends 'base.html'%}
{% load static i18n bootstrap4%}
{% block title%}{{title}} {% endblock%}
{% block content%}
<div class="container-fluid">
  <div class="row">
    {% if target_user == user%}
      {% include '_user_nav.html'%}
    {% endif %}  
  <div class="col-sm-10">
    <div>
      <h2>
      {% if target_user == user %}
        {% trans "My Blogs" %}
      {% else %}
        {% blocktrans %}{{ target_user }}'s articles {%endblocktrans%} 
      {% endif %}
      </h2>
      <hr>
    </div>

    <ul class="list-group">
      {% for blog in blog_list %}
      <li class="list-group-item">
        <div class='row'>
          <div class='col-md-4'>
            <p><a href="{% url 'blog:article' blog.id%}" class='text-muted' target='_blank'><b>{{blog.title}}</b></a></p> 
          </div>
        </div>
        <div class='row'>
          <span class="col-md-3 my-auto">{{blog.last_modifiy}}</span>
          <i class="col-md-1 fas fa-star my-auto">{{blog.get_collected_num}}</i> 
          <a class='col-md-1 text-muted my-auto' href="{% url 'blog:article' blog.id  %}#comments"><i class=" fas fa-comment-dots"> {{blog.get_comment_num}}</i></a>    
        </div>      
      </li>
      <hr>
      {% endfor%}
    </ul>
    
    </div>
  </div>
</div>
{% bootstrap_pagination page_obj url='?page=1' size="middle" justify_content="center"%}
{% endblock%}