{% extends 'base.html'%}
{% load static i18n bootstrap4%}
{% block title%}{{title}} {% endblock%}
{% block content%}
<div class="container-fluid">
  <div class="row">
    {% if target_user == user%}
      {% include '_user_nav.html'%}
    {% endif %}  
  <div class="col-sm-10">
    <div>
      <h2>
      {% if target_user == user %}
        {% trans "My Blogs" %}
      {% else %}
        {{ target_user }}'s {% trans "Blogs" %}
      {% endif %}
      </h2>
      <hr>
    </div>
    {% for blog in blog_list %}
    <ul class="list-group">
      <li class="list-group-item">
        <div class='row'>
          <div class='col-md-3'>
            <p><a href="{% url 'blog:article' blog.id%}" class='text-muted' target='_blank'><b>{{blog.title}}</b></a></p>
            <p>{{blog.last_modifiy}}</p>   
          </div>
        </div>
      </li>
    </ul>
    {% empty %}
      <p>{% trans "No article yet" %}</p>
    {% endfor%}
    </div>
  </div>
</div>
{% bootstrap_pagination page_obj url='?page=1' size="middle" justify_content="center"%}
{% endblock%}