{% extends 'base.html'%}
{% load static i18n bootstrap4%}
{% block title%}{% trans 'Search'%}- {{keywords}}{% endblock%}
{% block content%}
<h1>{% trans 'Search'%}: "{{keywords}}"</h1>
<hr>

  <ul class="list-group">
    {% for blog in blog_list %}
    <li class="list-group-item">
      <div class='row'>
        <div class='col-md-3'>
          <p><a href="{% url 'blog:article' blog.id%}" class='text-muted' target='_blank'><b>{{blog.title}}</b></a></p>
          <a class="text-secondary" href="{% url 'users:user' blog.author.username %}" target='_blank'>{{blog.author.username}}</a>  
        </div>
      </div>
      <div class='row'>
        <span class="col-md-3 my-auto">{{blog.last_modifiy}}</span>
        <i class="col-md-1 fas fa-star my-auto">{{blog.get_collected_num}}</i> 
        <a class='col-md-1 text-muted my-auto' href="{% url 'blog:article' blog.id  %}#comments"><i class=" fas fa-comment-dots"> {{blog.get_comment_num}}</i></a>    
      </div>
    </li>
    <hr>
  </ul>

{% endfor%}


<nav aria-label="Blog pages">
  <ul class="pagination">
    <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
      <a class="page-link" href="{% if page_obj.has_previous %}
      ?query={{keywords}}&page={{ page_obj.previous_page_number }}{% else %}#{% endif %}"
         aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {% for p in page_obj.paginator.page_range %}
      <li class="page-item {% if p == page_obj.number %}active{% endif %}" >
        <a class="page-link" href="?query={{keywords}}&page={{ p}}">{{ p }}
          {% if p == page_obj.number %}
          <span class="sr-only">(current)</span>
          {% endif %}
        </a>
      </li>
    {% endfor %}

    <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
      <a class="page-link" href="{% if page_obj.has_next %}
      ?query={{keywords}}&page={{ page_obj.next_page_number }}{% else %}#{% endif %}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>
{% endblock%}