{% load static i18n bootstrap4 %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="{% static 'img/dj.ico' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{% trans 'Edit'%}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
</head>
<body>
<form action="{% url 'blog:blog-edit' blog.id %}" method="post">
  {% csrf_token %}
  {{form.media}}
  <div class="form-group row">
    <div class='col-md-10'>
      <input type="text" name="title" value="{{blog.title}}" maxlength="20" class="form-control" placeholder="Title" title="" required id="id_title">
    </div>
    <div class="col-md-1 mr-md-0">
      <input type="submit" value="{% trans 'Save' %}" class="btn btn-outline-success btn-block my-auto">
    </div>
    <div class='col-md-1'>
      <a href="{% url 'blog:blog-list' user.username%}"><img class="rounded-circle" src="{{ user.avatar.url}}" alt="{% trans 'Avatar'%}" height="40" width="40"></a>
    </div>   
  </div>
  <div class="form-group">
  {{form.text}}
  </div>
</form>    
</body>
</html>



